

body {
    font-family: Arial, sans-serif;
    background-image: url(https://phonoteka.org/uploads/posts/2022-01/1642656896_9-phonoteka-org-p-fon-onlain-9.jpg);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: lightcyan;
    margin-top: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-image: url(https://abrakadabra.fun/uploads/posts/2022-03/1647486170_1-abrakadabra-fun-p-geometricheskii-fon-dlya-prezentatsii-1.jpg);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: navy;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}

button a {
    text-decoration: none;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-label input[type="checkbox"] {
    margin-right: 5px;
}


